tp2/TP2_csharp/miectNEW.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="curso">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="guid">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedShort">
              <xs:minInclusive value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="nome" type="xs:string" />
        <xs:element name="imagem" type="xs:string" />
        <xs:element name="codigo">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[0-9][0-9][0-9][0-9][/][0-9][0-9][0-9][0-9]"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="grau">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Licenciatura"/>
              <xs:enumeration value="Mestrado Integrado"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ciclo">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedShort">
              <xs:enumeration value="1"/>  
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="duracao">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:element> 
        <xs:element name="ano_inicio" type="xs:string" />
        <xs:element name="regime">
          <xs:simpleType>
            <xs:restriction base="xs:string" >
              <xs:enumeration value="diurno / laboral"/>
              <xs:enumeration value="diurno ou noturno"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="horario" type="xs:string" />
        <xs:element name="propinas" type="xs:string" />
        <xs:element name="subsistema" type="xs:string" />
        <xs:element name="areas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="area" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="director">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nome" type="xs:string" />
              <xs:element name="email" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="departamentos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="departamento">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nome" type="xs:string" />
                    <xs:element name="url" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="medias">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fase1" type="xs:string" />
              <xs:element name="fase2" type="xs:unsignedByte" />
              <xs:element name="fase3" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="vagas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fase1" type="xs:unsignedByte" />
              <xs:element name="fase2" type="xs:unsignedByte" />
              <xs:element name="fase3" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="provas" type="xs:string" />
        <xs:element name="ano_info" type="xs:string" />
        <xs:element name="saidas_profissionais" type="xs:string" />
        <xs:element name="objectivos" type="xs:string" />
        <xs:element name="observacoes" type="xs:string" />
        <xs:element name="testemunho" type="xs:string" />
        <xs:element name="pre_requisitos" type="xs:string" />
        <xs:element name="local" type="xs:string" />
        <xs:element name="urlmaisinfo" type="xs:string" />
        <xs:element name="urlcandidaturas" type="xs:string" />
        <xs:element name="urlmobilidade" type="xs:string" />
        <xs:element name="m23">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="provas" type="xs:string" />
              <xs:element name="vagas" type="xs:string" />
              <xs:element name="urlinfo" type="xs:string" />
              <xs:element name="observacoes" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="posgraduacoes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="periodo" type="xs:string" />
              <xs:element name="corpo_docente" type="xs:string" />
              <xs:element name="destinatarios" type="xs:string" />
              <xs:element name="vagas" type="xs:string" />
              <xs:element name="vagas_obs" type="xs:string" />
              <xs:element name="urlmobilidade" type="xs:string" />
              <xs:element name="ano_info" type="xs:string" />
              <xs:element name="edital" type="xs:string" />
              <xs:element name="ata" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>