TesteTP3/TesteTP3/App_Data/manage_feeds_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="XMLSchema1"
    targetNamespace="http://tempuri.org/XMLSchema1.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema1.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema1.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="listaDeRSS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="feed">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name"/>
              <xs:element name="url"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
